<table>
  <thead>
    <tr>
		<th>Name</th>
		<th>Actions <button {{action "new" target="JustDive.Controllers.AddressBook" context="diver"}}>New</button></th>
    </tr>
  </thead>
  <tbody>
  {{#each divers}}
    {{view JustDive.Views.Divers.ListShow diverBinding="this"}}
  {{/each}}
  </tbody>
</table>

