<table>
  <thead>
    <tr>
		<th>id</th>
		<th>firstname</th>
		<th>lastname</th> 
		<th>email</th>
		<th>dive_club_id</th> 
		<th>ffessm_level_id</th>
		<th>ffessm_licence_number</th>
		<th>google_contact_id</th>
		<th>medical_certificate_expires_on</th>
		<th>created_at</th>
		<th>updated_at</th>
		<th>Actions <button {{action "new" target="JustDive.addressBookController" context="diver"}}>New</button></th>
    </tr>
  </thead>
  <tbody>
  {{#each divers}}
    {{view JustDive.views.divers.listShow diverBinding="this"}}
  {{/each}}
  </tbody>
</table>

