<div class="btn-group pull-right">
	<a class="btn" href="#!address-book/new"><i class="icon-plus"></i></a>
</div>
<ul class="nav nav-pills nav-stacked">
	{{#each view.divers}}
		{{view JustDive.Views.Divers.ListShow diverBinding="this"}}
	{{/each}}
</ul>

