<table>
  <thead>
    <tr>
      <th>ID</th>
      <th>Name</th>
	  <th>Actions</th>
    </tr>
  </thead>
  <tbody>
  {{#each divers}}
    {{view JustDive.views.divers.listShow diverBinding="this"}}
  {{/each}}
  </tbody>
</table>

