<div class="panel right" id="content">
	<div class="navbar navbar-fixed-top right">
		<div class="navbar-inner">
			<div class="container">
				
			</div>
		</div>
	</div>
	<div class="scrollable panel">
		<div class="content insideScrollablePanel">
			<p>Séléctionnez un contact pour consulter ses coordonnées.</p>
		</div>
	</div>
</div>