<ul class="nav nav-pills nav-stacked">
	<li><a href="#!club-admin/dive-roles">Rôles</a></li>
	<li><a href="#!club-admin/boats">Bateaux</a></li>
	<li><a href="#!club-admin/administrators">Administrateurs</a></li>
</ul>

