<ul class="nav nav-pills nav-stacked">
	<li><a href="#" {{action "diveRolesIndex" target="JustDive.Controllers.ClubAdmin"}}>Rôles</a></li>
	<li><a href="#" {{action "boatsIndex" target="JustDive.Controllers.ClubAdmin"}}>Bateaux</a></li>
	<li><a href="#" {{action "administratorsIndex" target="JustDive.Controllers.ClubAdmin"}}>Administrateurs</a></li>
</ul>

