<div class="btn-group pull-right">
	<a class="btn" href="#" {{action "new" target="JustDive.Controllers.Routed.DiveGroup" context="view.boatDeparture"}}><i class="icon-plus"></i></a>
</div>

<ul class="nav nav-pills nav-stacked">
	{{#each view.diveGroups}}
		{{view JustDive.Views.DiveGroups.ListShow diveGroupBinding="this" boatDepartureBinding="view.boatDeparture"}}
	{{/each}}
</ul>