<div class="btn-group pull-right">
	<a class="btn" href="#" {{action "new" target="JustDive.Controllers.Routed.BoatDeparture" context="view.diveEvent"}}><i class="icon-plus"></i> Départ bateau</a>
</div>
<h2>Départs bateau</h2>

<ul class="nav nav-pills nav-stacked">
	{{#each view.boatDepartures}}
		{{view JustDive.Views.BoatDepartures.ListShow boatDepartureBinding="this"}}
	{{/each}}
</ul>