{{#each view.diveEvent.possibleDates}}
	<div class="scrollable-item">
		<div class="day">
			<div class="name">{{this.label}}</div>
			<ul class="nav nav-pills nav-stacked">
				{{#unless this.boatDepartures.length}}
					<li class="alert"><small>Aucun départ bateau prévu</small></li>
				{{/unless}}
				{{#each this.boatDepartures}}
					{{view JustDive.Views.BoatDepartures.ListShow 
							boatDepartureBinding="this" 
							diveEventBinding="view.diveEvent"}}
				{{/each}}
			</ul>
		</div>
	</div>
{{/each}}