<a href="#" {{action show view target="JustDive.Controllers.Routed.BoatDeparture"}}>
	<span class="badge pull-right">{{view.boatDeparture.boat.name}}</span> 
	{{view.boatDeparture.title}}
	<span class="groups-count">{{view.boatDeparture.groupsCount}}</span>
</a>