<a href="#" {{action show view target="JustDive.Controllers.Routed.BoatDeparture"}}>
	<span class="groups-count pull-right">{{view.boatDeparture.groupsCount}}</span>
	<span class="boat-name pull-right">{{view.boatDeparture.boat.name}}</span> 
	{{view.boatDeparture.title}}
</a>