<div class="navbar navbar-fixed-top sub-navbar sub-navbar-bottom right">
	<div class="navbar-inner">
		<div class="container-fluid">
			<div class="inline-form">
			  <span>Ajouter un participant :</span>
				{{
				view JustDive.Typeahead
						contentBinding	= "JustDive.restControllers.divers.sorted"
						action			= "quickCreate"
						target			= "JustDive.Controllers.Routed.DiveEventParticipant"
				}}
			</div>
		</div>
	</div>
</div>

<table class="table table-striped table-bordered table-condensed">
	<tr>
		<th>Prénom</th>
		<th>Nom</th>
		<th>Niveau</th>
		<th>Commentaire</th>
		<th>Actions</th>
	</tr>
	{{#each view.diveEvent.participants}}
		{{view JustDive.Views.DiveEventParticipants.ListShow 
				diveEventParticipantBinding="this" 
				diveEventBinding="view.diveEvent"}}
	{{/each}}
</table>