<h2>Plongeurs disponibles</h2>

<div class="available-participants">
	{{#each view.boatDeparture.availableParticipants}}
		<div class="participant draggable" {{bindAttr data-diver-id="diver_id"}}>
			<span class="fn">{{this.diver.fullname}}</span>
			<span class="le">{{this.diver.level.name}}</span>
		</div>
	{{/each}}
</div>