<ul class="nav nav-pills nav-stacked" id="subNav">
	{{#each view.diveEvents}}
		<li {{bindAttr class="cssClass"}}><a href="#" {{action show this target="JustDive.Controllers.Routed.DiveEvent"}}>{{this.title}}</a></li>
	{{/each}}
</ul>