<header class="navbar navbar-fixed-top">
	<div class="navbar-inner">
		<div class="container-fluid">
			<a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</a>
			<a class="brand" href="#!account/welcome">Just Dive</a>
			{{ view JustDive.Views.Main.UserMenu }}
			<div class="nav-collapse">
			  {{ view JustDive.Views.Main.Nav }}
			</div><!--/.nav-collapse -->
		</div><!--/.container-fluid -->
	</div><!--/.navbar-inner -->
</header>

<div class="container-fluid">
	<div class="row-fluid">
		{{dynamicView}}
	</div><!--/row-->
</div>