<header class="navbar navbar-fixed-top">
	<div class="navbar-inner">
		<div class="container-fluid">
			{{ view JustDive.Views.Main.UserMenu }}
			{{ view JustDive.Views.Main.Nav }}
			<span class="brand">Just Dive <small>(v{{JustDive.version}})</small></span>
		</div><!--/.container-fluid -->
	</div><!--/.navbar-inner -->
</header>

<div class="container-fluid">
	<div class="row-fluid">
		{{dynamicView}}
	</div><!--/row-->
</div>
