<header class="navbar navbar-fixed-top navbar-inverse">
	<div class="navbar-inner">
		<div class="container-fluid">
			<a class="brand" href="#!account/welcome">Just Dive</a>
			{{ view JustDive.Views.Main.UserMenu }}
			{{ view JustDive.Views.Main.Nav }}
		</div><!--/.container-fluid -->
	</div><!--/.navbar-inner -->
</header>

<div class="container-fluid">
	<div class="row-fluid">
		{{dynamicView}}
	</div><!--/row-->
</div>
