{{#if JustDive.identity.is_logged_in}}
<ul class="nav">
  <li class="active"><a href="#!account/welcome">Accueil</a></li>
  <li><a href="#!address-book">Carnet d'adresses</a></li>
  <li><a href="#" {{action "index" target="JustDive.Controllers.DiveEvents"}}>Sorties</a></li>
  <li><a href="#" {{action "clearLocalStorage" target="JustDive.Controllers.Welcome"}}>Clear Local Storage</a></li>
</ul>
{{/if}}