{{#if JustDive.identity.is_logged_in}}
<ul class="nav" id="mainNav">
  <li class="welcome"><a href="#!account/welcome"><i class="icon-home icon-white"></i> Accueil</a></li>
  <li class="events"><a href="#!dive-events"><i class="icon-calendar icon-white"></i> Sorties</a></li>
  <li class="addressBook"><a href="#!address-book"><i class="icon-user icon-white"></i> Carnet d'adresses</a></li>
</ul>
{{/if}}