{{#if JustDive.identity.is_logged_in}}
	<button {{action "index" target="JustDive.Controllers.Welcome"}}>Accueil</button>
	<button {{action "index" target="JustDive.Controllers.AddressBook"}}>Carnet d'adresses</button>
	<button {{action "index" target="JustDive.Controllers.DiveEvents"}}>Sorties</button>
	<button {{action "clearLocalStorage" target="JustDive.Controllers.Welcome"}}>Clear Local Storage</button>
{{/if}}