<div class="panel left" id="sidebar">
	<div class="navbar navbar-fixed-top sub-navbar left">
		<div class="navbar-inner">
			<div class="container-fluid">
				{{dynamicView leftNav}}
			</div>
		</div>
	</div>
	<div class="scrollable-y panel">
		<div class="sidebar insideScrollablePanel">
			{{dynamicView leftPanel}}
		</div>
	</div>
</div>

{{dynamicView}}