<div id="app" role="main">
	<header class="navbar navbar-fixed-top">
		<div class="navbar-inner">
			<div class="container-fluid">
				<a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</a>
				<a class="brand" href="#">Just Dive</a>
				<script type="text/x-handlebars">
					{{ view JustDive.Views.Main.UserMenu }}
				</script>
				<div class="nav-collapse">
					<script type="text/x-handlebars">
					  {{ view JustDive.Views.Main.Nav }}
					</script>
				</div><!--/.nav-collapse -->
			</div><!--/.container-fluid -->
		</div><!--/.navbar-inner -->
	</header>
	
	<div class="container-fluid">
		<div class="row-fluid">
			<div class="span3" id="left-panel">
				<!--Sidebar content-->
			</div>
			<div class="span9">
				<!--Body content-->
				<div id="container"></div>
				<div id="main-error-container"></div>
			</div>
			
		</div><!--/row-->
	</div>

	<footer class="navbar navbar-fixed-bottom">
		<div class="navbar-inner">
			<div class="container-fluid">
				<script type="text/x-handlebars">
					<ul class="nav">
						<li><span class="navbar-text">Authenticity Token: {{JustDive.identity.authenticity_token}}</span></li>
						<li><span class="navbar-text">Administrator Id: {{JustDive.identity.administrator_id}}</span></li>
						<li><span class="navbar-text">LocalStorage Infos: {{JustDive.getStorageInfos}}</span></li>
					</ul>
				</script>
			</div><!--/.container-fluid -->
		</div><!--/.navbar-inner -->
	</footer>
</div>