<div id="oni">
<script type="text/x-handlebars">
  <ul>
	<li>Connectivity status: {{JustDive.monitor.status}}</li>
	{{#if JustDive.identity.is_logged_in}}
	<li>Logged in as: {{JustDive.identity.administrator_id}} {{#view JustDive.Button target="JustDive.identityController" action="logout"}}Log out{{/view}}</li>
	{{/if}}
  </ul>
</script>
</div>

<nav id="mna">
<script type="text/x-handlebars">
  {{ view JustDive.MainNavView }}
</script>
</nav>

<script type="text/javascript">
  $(function() {
	JustDive.start();
  });
</script>