<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @admin_ffessm_level.name %>
</p>


<%= link_to 'Edit', edit_admin_ffessm_level_path(@admin_ffessm_level) %> |
<%= link_to 'Back', admin_ffessm_levels_path %>
