<div class="btn-group pull-right">
	<button class="btn" {{action new view target="JustDive.Controllers.Routed.DiveGroupParticipant"}}><i class="icon-plus"></i> Plongeur</button>
</div>
<h2>Plongeurs</h2>

<ul class="nav nav-pills nav-stacked">
	{{#each view.diveGroup.participants}}
		{{view JustDive.Views.DiveGroupParticipants.ListShow 
			diveGroupBinding="view.diveGroup" 
			boatDepartureBinding="view.boatDeparture"
			diveGroupParticipantBinding="this"}}
	{{/each}}
</ul>

{{dynamicView modal}}