<div class="btn-group pull-right">
	<a class="btn" href="#" {{action "new" target="JustDive.Controllers.Routed.DiveGroupParticipant" context="view"}}><i class="icon-plus"></i></a>
</div>

<ul class="nav nav-pills nav-stacked">
	{{#each view.diveGroupParticipants}}
		{{view JustDive.Views.DiveGroupParticipants.ListShow 
			diveGroupBinding="view.diveGroup" 
			boatDepartureBinding="view.boatDeparture"
			diveGroupParticipantBinding="this"}}
	{{/each}}
</ul>