@media all {
	//---------------------------------------------------------- Pannels
	.panel {
		overflow                    	: hidden;
		position                    	: absolute;
		display                     	: block;
		width                       	: 100%;
		top                         	: 0;
		height							: 100%;
	}
	
	.right .panel,
	.left .panel	{
		top								: 80px;
		bottom							: 0;
	}
	.right .panel .container-fluid {
		padding-top						: 10px;
	}
	.left .panel {
		bottom							: 0;
	}
	.fullscreen-container {
		padding-top						: 60px;
	}
	.panel-split {
		position                    	: absolute;
		display                     	: block;
		width                       	: 100%;
		height							: auto;
	}
	.panel-split-fixed-top-220-a {
		top								: 80px;
		bottom							: auto;
		height							: 220px;
	}
	.panel-split-fixed-top-220-b {
		top								: 342px;
		bottom							: 0;
	}
	.panel-split-fixed-bottom-135-a {
		top								: 80px;
		bottom							: 135px;
	}
	.panel-split-fixed-bottom-135-b {
		height							: 135px;
		top								: auto;
		bottom							: 0;
	}
	//---------------------------------------------------------- Menus / Navbars
	.container-fluid {
			padding: 0 10px 0 10px;
		}
	
	header {
		.container-fluid {
			padding: 0 10px 0 0;
		}
	}
	.navbar {
		.brand {
			position				: absolute;
			left					: 50%;
			top						: 0;
			display					: block;
			float					: none;
			text-align				: center;
		}
	}
	
	.activity-monitor {
		padding-top						: 10px;
		padding-right					: 10px;
		
		.icon-signal {
			margin-top					: 2px;
		}
		
		#loading {
			width						: 16px;
			height						: 16px;
			line-height					: 16px;
		}
	}
	
	.btn-group .dropdown-menu-description {
		white-space						: normal;
		padding							: 3px 20px;
		margin							: 9px 0 5px 0;
	}
	.sub-navbar {
		top								: 40px;
		z-index							: 999;
		
		.divider-vertical {
			width						: 1px;
			height						: 40px;
			margin						: 0 9px;
			overflow					: hidden;
			background-color			: #cccccc;
			border-right				: 1px solid #eeeeee;
		}
		
		.navbar-text {
			display						: block;
			text-align					: center;
		}
	}
	.sub-navbar-bottom {
		top								: 300px;
	}
	
	//---------------------------------------------------------- Utility
	.scrollable-y {
		overflow-y                  	: scroll;
		-webkit-overflow-scrolling 	 	: touch;
	}
	.scrollable-x {
		overflow-x						: scroll;
		-webkit-overflow-scrolling  	: touch;
		display							: block;
		white-space						: nowrap;
		font-size						: 0;
	}
	.scrollable-x .scrollable-item {
		float							: none;
		display							: inline-block;
		width							: 100px;
		font-size						: 12px;
		white-space						: normal;
	}
	.draggable {
		cursor							: move;
		-webkit-touch-callout			: none;
		  -webkit-user-select			: none;
		   -khtml-user-select			: none;
			 -moz-user-select			: none;
			  -ms-user-select			: none;
				  user-select			: none;
	}
	//---------------------------------------------------------- Spec
	.dive-groups {
		.scrollable-item {
			width						: 85%;
			
			.dive-group {
				position				: absolute;
				top						: 0;
				bottom					: 0;
				width					: inherit;		
					
				.details {
					position			: absolute;
					top					: 20px;
					bottom				: 0;
					
					.dive-parameters {
						width			: 160px;
						
						th.h {
							width		: 50%;
							text-align	: left;
							padding-left: 4px;
						}
						th.i {
							width		: 1%;
							text-align	: left;
							padding-left: 4px;
						}
					}
				}
				.participants {
					padding-left		: 163px;
					padding-right		: 3px;
					width				: auto;
					
					.participant {
						margin			: 2px 0 3px 0;
						padding			: 8px 12px 8px 12px;
						
						.le {
							display		: none;
						}
					}
				}
			}
		}
	}
	.events-by-day {
		.scrollable-item {
			width						: 220px;
			
			.day {
				position				: absolute;
				top						: 0;
				bottom					: 0;
				width					: inherit;		
				
				.name {
					padding-left		: 10px;
				}
				ul.nav {
					position			: absolute;
					top					: 31px;
					bottom				: 0;
					width				: 218px;
					margin				: 0;
					padding				: 0;
					
					li {
						margin			: 0;

						a {
							margin			: 0;
							padding			: 0 8px 0 8px;
							display			: block;
							
							.groups-count {
								padding-top : 4px;
							}
							.boat-name {
								clear	: right;
							}
						}
					}
					li.alert {
						margin-left		: 8px;
						margin-right	: 8px;
						margin-top		: 8px;
					}
				}
			}
		}
	}
	.available-participants {
		.participant {
			width						: 100px;
			height						: 100px;
			padding						: 4px;
			margin-right				: 5px;
			
			.le {
				display					: block;
			}
		}
	}
	.full-view {
		.dive-groups {
			.scrollable-item {
				width					: 25%;
				
				.dive-group {
					
					
					.details {
						display			: none;
					}
					
					.participants {
						padding-left	: 3px;
						border-left		: 1px #ccc solid;
						position		: absolute;
						top				: 20px;
						bottom			: 0;
						width			: 96%;
						
						.btn-group {
							display		: none;
						}
					}
				}
				
			}
		}
	}
	//---------------------------------------------------------- Drag and drop
	.participant.ui-draggable-dragging {
		width							: 100px;
		height							: 100px;
		padding							: 4px;
		margin-right					: 5px; 
		
		.le {
			display						: block;
		}
	}
}
@media (min-width: 767px) {
	.navbar-fixed-top, 
	.navbar-fixed-bottom {
		position						: fixed;
		margin-right					: 0;
		margin-left						: 0;
	}
	.navbar-fixed-top .navbar-inner, 
	.navbar-fixed-bottom .navbar-inner {
		padding							: 0px;
	}
}
@media (orientation: landscape) {
	.left {
		float                       	: left;
		left                        	: 0%;
		width                      		: 20%;
	}
	.right {
		float                       	: right;
		left                        	: 20%;
		width                       	: 80%;
	}
}
@media (orientation: portrait) {
	.left {
		width                       	: 0%;
	}
	.right {
		left                        	: 0%;
		width                       	: 100%;
	}
}