// Place all the styles related to the administrators controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@media all {
	.panel {
		overflow                    : hidden;
		position                    : absolute;
		display                     : block;
		width                       : 100%;
		top                         : 0;
		height: 100%; /* uncomment if desktop */
	}

	.scrollable {
		margin-top					: 85px;
		overflow                    : scroll;
		-webkit-overflow-scrolling  : touch;
	}

	.insideScrollablePanel {
		margin-left                 : 5%;
		margin-right                : 5%;
		width                       : 90%;
	}

} /* end of medial all */

/*--- ipad ---*/
/*--- full screen mode ---*/
@media (device-width: 768px) and (orientation: portrait) {
	.panel {
		height                       : 934px; /*1004-80*/
	}
}
/*--- browser mode ---*/
@media (device-width: 768px) and (orientation: landscape) {
	.panel {
		height                       : 668px; /*748-80*/
	}
}

/*--- iphone ---*/
/*--- full screen mode ---*/
@media (max-width: 480px) and (orientation: portrait) {
	.panel {
		height                       : 380px; /*460-80*/
	}
}
/*--- browser mode ---*/
@media (max-width: 480px) and (orientation: landscape) {
	.panel {
		height                       : 220px; /*300-80*/
	}
}

@media (orientation: portrait) {
	.left {
		float                       : left;
		left                        : 0%;
		width                       : 0%;

	}
	.right {
		float                       : right;
		left                        : 0%;
		width                       : 100%;
	}
}

@media (orientation: landscape) {
	.left {
		float                       : left;
		left                        : 0%;
		width                       : 30%;

	}
	.right {
		float                       : right;
		left                        : 30%;
		width                       : 70%;
	}
}
.activity-monitor {
	padding-top: 8px;
	padding-right: 8px;
}
#sidebar {
	background:#eeeeee;
}	
#sidebar .navbar-fixed-top,
#content .navbar-fixed-top {
	top:40px;
}

#sidebar .insideScrollablePanel,
#content .insideScrollablePanel {
	padding-bottom:85px;
}
#sidebar .navbar,
#content .navbar {
	z-index:999;
}
#sidebar .navbar-inner,
#content .navbar-inner {
  min-height: 40px;
  padding-right: 20px;
  padding-left: 20px;
  background-color: #eeeeee;
  background-image: -moz-linear-gradient(top, #eeeeee, #cccccc);
  background-image: -ms-linear-gradient(top, #eeeeee, #cccccc);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#eeeeee), to(#cccccc));
  background-image: -webkit-linear-gradient(top, #eeeeee, #cccccc);
  background-image: -o-linear-gradient(top, #eeeeee, #cccccc);
  background-image: linear-gradient(top, #eeeeee, #cccccc);
  background-repeat: repeat-x;
  -webkit-border-radius: 0;
     -moz-border-radius: 0;
          border-radius: 0;
  filter: progid:dximagetransform.microsoft.gradient(startColorstr='#eeeeee', endColorstr='#cccccc', GradientType=0);
  -webkit-box-shadow: 0 0 3px -3px rgba(0, 0, 0, 0.25), inset 0 -1px 0 rgba(0, 0, 0, 0.1);
     -moz-box-shadow: 0 0 3px -3px rgba(0, 0, 0, 0.25), inset 0 -1px 0 rgba(0, 0, 0, 0.1);
          box-shadow: 0 0 3px -3px rgba(0, 0, 0, 0.25), inset 0 -1px 0 rgba(0, 0, 0, 0.1);
}
#sidebar .divider-vertical,
#content .divider-vertical{
  width: 1px;
  height: 40px;
  margin: 0 9px;
  overflow: hidden;
  background-color: #cccccc;
  border-right: 1px solid #eeeeee;
}


/* EVENTS */
.events-by-day li.day,
.dive-groups li.dive-group {
	list-style:none;
	display: block;
	float:left;
	width: 18%;
	margin-right: 5px;
	margin-bottom: 5px;
	padding: 3px;
}
.dive-groups li.dive-group {
	width: 45%;
}
.dive-groups .table th.h {
	width:50%;
}
.dive-groups .table th.i {
	width:1%;
}

.events-by-day li.day .name,
.dive-groups li.dive-group .title {
	font-size:11px;
	font-weight: bold;
	border-bottom: 1px #eee solid;
}
.events-by-day li.day .groups-count {
	clear:both;
	display:block;
	font-size:10px;
	text-align:right;
	color: #666666;
	padding-top:2px;
}


/* Landscape phones and down */
@media (max-width: 480px) {
	.events-by-day li.day,
	.dive-groups li.dive-group  {
		float:none;
		width: 100%;
		margin-right: 0;
	}
}
 
/* Landscape phone to portrait tablet */
@media (min-width: 480px) and (max-width: 767px) { 
	.events-by-day li.day  {
		width: 45%;
	}
}
 
/* Portrait tablet to landscape and desktop */
@media (min-width: 768px) and (max-width: 979px) {
	.events-by-day li.day {
		width: 30%;
	}
}
 
/* Large desktop */
@media (min-width: 979px) and (max-width: 1200px){
	.events-by-day li.day  {
		width: 22%;
	}
}
