// Place all the styles related to the administrators controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@media all {
	//---------------------------------------------------------- Pannels
	.left-nav-header {
		font-size						: 1.3em;
		line-height						: 40px;
	}
	#sidebar {
		background						: #eeeeee;
	}	
	//---------------------------------------------------------- Menus / Navbars
	.sub-navbar {
		.divider-vertical {
			background-color			: #cccccc;
			border-right				: 1px solid #eeeeee;
		}
		.navbar-inner {
			-webkit-border-radius		: 0;
			   -moz-border-radius		: 0;
				    border-radius		: 0;
			-webkit-box-shadow			: 0 0 3px -3px rgba(0, 0, 0, 0.25), inset 0 -1px 0 rgba(0, 0, 0, 0.1);
			   -moz-box-shadow			: 0 0 3px -3px rgba(0, 0, 0, 0.25), inset 0 -1px 0 rgba(0, 0, 0, 0.1);
				    box-shadow			: 0 0 3px -3px rgba(0, 0, 0, 0.25), inset 0 -1px 0 rgba(0, 0, 0, 0.1);
		}
	}
	//---------------------------------------------------------- Utility
	
	//---------------------------------------------------------- Spec
	.dive-groups {
		.scrollable-item {
			.dive-group {
				background				: #f2f9fe; /* Old browsers */
				background				: -moz-linear-gradient(top,  #f2f9fe 0%, #f2f9fe 64%, #eaeaea 100%); /* FF3.6+ */
				background				: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f2f9fe), color-stop(64%,#f2f9fe), color-stop(100%,#eaeaea)); /* Chrome,Safari4+ */
				background				: -webkit-linear-gradient(top,  #f2f9fe 0%,#f2f9fe 64%,#eaeaea 100%); /* Chrome10+,Safari5.1+ */
				background				: -o-linear-gradient(top,  #f2f9fe 0%,#f2f9fe 64%,#eaeaea 100%); /* Opera 11.10+ */
				background				: -ms-linear-gradient(top,  #f2f9fe 0%,#f2f9fe 64%,#eaeaea 100%); /* IE10+ */
				background				: linear-gradient(to bottom,  #f2f9fe 0%,#f2f9fe 64%,#eaeaea 100%); /* W3C */
				filter					: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f2f9fe', endColorstr='#eaeaea',GradientType=0 ); /* IE6-9 */

				.title {
					font-size			: 11px;
					font-weight			: bold;
					border-bottom		: 1px #ddd solid;
				}
				.details {
					font-size			: 0.8em;
					color				: #999;
					background			: #eee;
					border-right		: 1px #ddd solid;
	
					.dive-parameters {
						th.h {
							background	: #dedede;
							text-shadow	: 1px 1px 1px #ffffff;
							filter		: dropshadow(color=#ffffff, offx=1, offy=1);
						}
					}
					.dive-parameters-editing  {
						.input-mini,
						.add-on {
							font-size	: 11px;
						}
					}
				}
				.participants {
					.participant {
						font-size		: 14px;
						line-height		: 14px;
						border-radius	: 5px 5px 5px 5px;
						color			: rgb(0, 136, 204);
						font-family		: "Helvetica Neue",Helvetica,Arial,sans-serif;
						cursor			: default;
					}
					.participant:hover {
						background-color: rgb(238, 238, 238);
						color			: rgb(0, 85, 128);
					}
				}
			}
		}
	}
	.available-participants {
		.participant {
			font-size					: 11px;
			background					: #fff;
			border						: 1px #ccc solid;
			-webkit-border-radius		: 5px;
			   -moz-border-radius		: 5px;
					border-radius		: 5px; 
		}
	}
	//---------------------------------------------------------- Drag and drop
	.dive-groups {
		.scrollable-item {
			.dive-group.droppable-highlight {
				background				: #eaf9e7;
				
				.details {
					display				: none;
				}
			}
			.dive-group.droppable-over {
				background				: #b5fc89;
				
				.details {
					display				: none;
				}
			}
		}
	}
	.available-participants {
		.draggable:hover {
			border: 1px #aaa solid;
		}
	}
	.participant.ui-draggable-dragging {
		font-size						: 11px;
		border							: 1px #fff solid;
		background-color				: rgb(0, 136, 204);
		color							: #fff;
		-webkit-border-radius 			: 5px;
		   -moz-border-radius 			: 5px;
				border-radius 			: 5px; 
	}
	.available-participants.droppable-highlight {
		background						: #eaf9e7;
	}
	.available-participants.droppable-over {
		background						: #b5fc89;
	}
}


.events-by-day li.day .groups-count {
	clear:both;
	display:block;
	font-size:10px;
	text-align:right;
	color: #666666;
	padding-top:2px;
}



/* Landscape phones and down */
@media (max-width: 480px) {
	.events-by-day li.day,
	.dive-groups li.dive-group  {
		width: 100%;
		margin-right: 0;
		height: auto;
	}
}
 
/* Landscape phone to portrait tablet */
@media (min-width: 480px) and (max-width: 767px) { 
	.events-by-day li.day  {
		width: 45%;
	}
}
 
/* Portrait tablet to landscape and desktop */
@media (min-width: 768px) and (max-width: 979px) {
	.events-by-day li.day {
		width: 30%;
	}
}
 
/* Large desktop */
@media (min-width: 979px) and (max-width: 1200px){
	.events-by-day li.day  {
		width: 22%;
	}
}
