// Place all the styles related to the administrators controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@font-face {
  font-family: 'Marmelad';
  font-style: normal;
  font-weight: 400;
  src: local('Marmelad'), local('Marmelad-Regular'), url(marmelad-v3.woff) format('woff');
}

@media all {
	//---------------------------------------------------------- Pannels
	.left-nav-header {
		line-height						: 40px;
		font-family						: 'Marmelad';
		font-size						: 16px;
		color							: #693a5f;
		text-shadow						: 1px 1px 0px #fff;
	}
	#sidebar {
		background						: #3f0031;
		-webkit-box-shadow				: inset -20px 20px 25px 3px rgba(0, 0, 0, 1);
		   -moz-box-shadow				: inset -20px 20px 25px 3px rgba(0, 0, 0, 1);
		        box-shadow				: inset -20px 20px 25px 3px rgba(0, 0, 0, 1);
		
		.nav-pills > li > a {
			color						: #ffffff;
		}
		.nav-pills > li > a:hover,
		.nav-pills > .active > a,
		.nav-pills > .active > a:hover,
		.nav-pills > .active > a:focus {
			background-image			: none;
			background-color			: #d214a8;
			border-radius				: 0;
		}
		.navbar {
			.navbar-inner {
				border-right			: 1px #ccc solid;
			}
		}
	}	
	//---------------------------------------------------------- Menus / Navbars
	ul.dropdown-menu {
		li {
			.disabled {
				opacity					: 0.65;
				cursor					: default;
			}
			.disabled:hover {
				background				: transparent;
				color					: rgb(51, 51, 51);
				
				i {
					background-image	: url("glyphicons-halflings.png");
				}
			}
			a:hover,
			a:focus {
				background-image		: none;
				background-color		: #d214a8;
			}
		}
	}
	
	header.navbar {
		.nav { 
			li {
				a {
					color				: #fff;
					text-shadow			: none;
				}
				a:hover {
					background-image	: none;
					background-color	: #d214a8;
				}
			}
			li.dropdown {
				a {
					color				: rgb(51, 51, 51);
				}
				a:hover,
				a:active,
				a:focus {
					color				: #fff;
				}
				
				.dropdown-toggle {
					.caret {
						border-top-color: rgb(185, 185, 185);
					}
				}
			}
			.active > a,
			.active > a:hover,
			.active > a:focus {
				background-color		: #d214a8;
				box-shadow				: none;
				color					: #ffffff;
			}
		}
		
		.brand {
			color						: #fff;
			text-shadow					: 0px 0px 5px #ff8ce6;
			
			small {
				font-size				: 12px;
			}
		}
		.navbar-inner {
			background					: #693a5f;
			background					: -moz-linear-gradient(top,  #693a5f 0%, #3f0031 100%);
			background					: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#693a5f), color-stop(100%,#3f0031));
			background					: -webkit-linear-gradient(top,  #693a5f 0%,#3f0031 100%);
			background					: -o-linear-gradient(top,  #693a5f 0%,#3f0031 100%);
			background					: -ms-linear-gradient(top,  #693a5f 0%,#3f0031 100%);
			background					: linear-gradient(to bottom,  #693a5f 0%,#3f0031 100%);
			filter						: progid:DXImageTransform.Microsoft.gradient( startColorstr='#693a5f', endColorstr='#3f0031',GradientType=0 );
		}
	}
	.sub-navbar {
		.divider-vertical {
			background-color			: #cccccc;
			border-right				: 1px solid #eeeeee;
		}
		.navbar-inner {
			-webkit-border-radius		: 0;
			   -moz-border-radius		: 0;
				    border-radius		: 0;
			-webkit-box-shadow			: 0 0 3px -3px rgba(0, 0, 0, 0.25), inset 0 -1px 0 rgba(0, 0, 0, 0.1);
			   -moz-box-shadow			: 0 0 3px -3px rgba(0, 0, 0, 0.25), inset 0 -1px 0 rgba(0, 0, 0, 0.1);
				    box-shadow			: 0 0 3px -3px rgba(0, 0, 0, 0.25), inset 0 -1px 0 rgba(0, 0, 0, 0.1);
		}
		.navbar-text {
			font-family					: 'Marmelad';
			font-size					: 22px;
			color						: #693a5f;
		}
	}
	.sub-navbar-bottom {
		border-top						: 1px solid #ddd;
		border-left						: 1px solid #ccc;
		//background
	}
	.activity-monitor {
		.disabled {
			opacity						: 0.45;
		}
		#loading {
			background-image			: url(activity-indicator.gif);
			background-position			: 0 0;
		}
	}
	.dropdown-menu {
		.dropdown-menu-description {
			font-size					: 11px;
			color						: #666;
			background-color			: rgb(229, 229, 229);
			border-top					: 1px solid rgb(255, 255, 255);
		}
	}
	footer {
		font-size						: 11px;
		color							: #888;
	}
	//---------------------------------------------------------- Utility
	.btn.no-right-corner-radius {
		border-top-right-radius: 0;
		border-bottom-right-radius: 0;
	}
	
	
	//---------------------------------------------------------- Spec
	.dive-groups {
		.scrollable-item {
			.dive-group {
				.title {
					color 				: #888888;
					font-size			: 11px;
					line-height			: 30px;
					background			: rgb(255,255,255);
					background			: -moz-linear-gradient(top,  rgba(255,255,255,1) 66%, rgba(228,228,228,1) 100%);
					background			: -webkit-gradient(linear, left top, left bottom, color-stop(66%,rgba(255,255,255,1)), color-stop(100%,rgba(228,228,228,1)));
					background			: -webkit-linear-gradient(top,  rgba(255,255,255,1) 66%,rgba(228,228,228,1) 100%);
					background			: -o-linear-gradient(top,  rgba(255,255,255,1) 66%,rgba(228,228,228,1) 100%);
					background			: -ms-linear-gradient(top,  rgba(255,255,255,1) 66%,rgba(228,228,228,1) 100%);
					background			: linear-gradient(to bottom,  rgba(255,255,255,1) 66%,rgba(228,228,228,1) 100%);
					filter				: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#e4e4e4',GradientType=0 );
					border-bottom		: 1px #fff solid;
				}
				.details {
					font-size			: 0.8em;
					color				: #999;
					background			: #f5f5f5;
					border-right		: 1px #e2e2e2 solid;
					border-left			: 1px #fff solid;
					border-bottom		: 1px #e7e7e7 solid;
	
					.btn-group-container-editing {
						background			: rgb(255,255,255);
						background			: -moz-linear-gradient(top,  rgba(255,255,255,1) 66%, rgba(228,228,228,1) 100%);
						background			: -webkit-gradient(linear, left top, left bottom, color-stop(66%,rgba(255,255,255,1)), color-stop(100%,rgba(228,228,228,1)));
						background			: -webkit-linear-gradient(top,  rgba(255,255,255,1) 66%,rgba(228,228,228,1) 100%);
						background			: -o-linear-gradient(top,  rgba(255,255,255,1) 66%,rgba(228,228,228,1) 100%);
						background			: -ms-linear-gradient(top,  rgba(255,255,255,1) 66%,rgba(228,228,228,1) 100%);
						background			: linear-gradient(to bottom,  rgba(255,255,255,1) 66%,rgba(228,228,228,1) 100%);
						filter				: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#e4e4e4',GradientType=0 );
						border-bottom		: 1px #fff solid;
					}
					.dive-parameters {
						td,
						th,
						.input-append .add-on {
							font-size	: 11px;
							font-weight	: normal;
							color		: #b8b8b8;
						}
						th.h {
							text-shadow	: 1px 1px 1px #ffffff;
							filter		: dropshadow(color=#ffffff, offx=1, offy=1);
						}
						.data,
						.input-mini {
							border			: 1px #cccccc solid;
							border-radius 	: 3px;
							background		: #fff;
							font-size		: 11px;
							text-align		: right;
						}
						.data {
							border			: 1px #e1e1e1 solid;
							background		: #ececec;
						}

					}
				}
				.participants {
					border-right		: 1px #d7d7d7 solid;
					border-left			: 1px #fff solid;
					background			: #eeeeee;
							
					.participant {
						font-size		: 14px;
						line-height		: 14px;
						color			: #693a5f;
						font-family		: "Helvetica Neue",Helvetica,Arial,sans-serif;
						border-bottom	: 1px #f3f3f3 solid;
					}
					.participant:hover {
						background-color: #d214a8;
						color			: #fff;
					}
				}
				.gradient {
					border-top			: 1px #fff solid;
					background			: rgb(228,228,228);
					background			: -moz-linear-gradient(top,  rgba(228,228,228,1) 0%, rgba(255,255,255,1) 34%);
					background			: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(228,228,228,1)), color-stop(34%,rgba(255,255,255,1)));
					background			: -webkit-linear-gradient(top,  rgba(228,228,228,1) 0%,rgba(255,255,255,1) 34%);
					background			: -o-linear-gradient(top,  rgba(228,228,228,1) 0%,rgba(255,255,255,1) 34%);
					background			: -ms-linear-gradient(top,  rgba(228,228,228,1) 0%,rgba(255,255,255,1) 34%);
					background			: linear-gradient(to bottom,  rgba(228,228,228,1) 0%,rgba(255,255,255,1) 34%);
					filter				: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e4e4e4', endColorstr='#ffffff',GradientType=0 );
				}
			}
		}
	}
	.events-by-day {
		.scrollable-item {
			.day {
				.name {
					color 				: #888888;
					font-size			: 11px;
					line-height			: 30px;
					background			: rgb(255,255,255);
					background			: -moz-linear-gradient(top,  rgba(255,255,255,1) 66%, rgba(228,228,228,1) 100%);
					background			: -webkit-gradient(linear, left top, left bottom, color-stop(66%,rgba(255,255,255,1)), color-stop(100%,rgba(228,228,228,1)));
					background			: -webkit-linear-gradient(top,  rgba(255,255,255,1) 66%,rgba(228,228,228,1) 100%);
					background			: -o-linear-gradient(top,  rgba(255,255,255,1) 66%,rgba(228,228,228,1) 100%);
					background			: -ms-linear-gradient(top,  rgba(255,255,255,1) 66%,rgba(228,228,228,1) 100%);
					background			: linear-gradient(to bottom,  rgba(255,255,255,1) 66%,rgba(228,228,228,1) 100%);
					filter				: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#e4e4e4',GradientType=0 );
					border-bottom		: 1px #fff solid;
				}
				ul.nav {
					background			: #eeeeee;
					border-right		: 1px #d7d7d7 solid;
					border-left			: 1px #f8f8f8 solid;
					
					li {	
						a {
							color				: #693a5f;
							font-size			: 14px;
							line-height			: 33px;
							border-radius		: 0;
							border-bottom	: 1px #f3f3f3 solid;
							
							.boat-name,
							.groups-count {
								line-height		: 13px;
								font-size		: 11px;
								color			: #888;
							}
						}
						a:hover {
							background-color	: #d214a8;
							color				: #ffffff;
							
							.boat-name,
							.groups-count {
								color			: #ddd;
							}
						}
					}
				}
				.gradient {
					border-top			: 1px #fff solid;
					background			: rgb(228,228,228);
					background			: -moz-linear-gradient(top,  rgba(228,228,228,1) 0%, rgba(255,255,255,1) 34%);
					background			: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(228,228,228,1)), color-stop(34%,rgba(255,255,255,1)));
					background			: -webkit-linear-gradient(top,  rgba(228,228,228,1) 0%,rgba(255,255,255,1) 34%);
					background			: -o-linear-gradient(top,  rgba(228,228,228,1) 0%,rgba(255,255,255,1) 34%);
					background			: -ms-linear-gradient(top,  rgba(228,228,228,1) 0%,rgba(255,255,255,1) 34%);
					background			: linear-gradient(to bottom,  rgba(228,228,228,1) 0%,rgba(255,255,255,1) 34%);
					filter				: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e4e4e4', endColorstr='#ffffff',GradientType=0 );
				}
			}
		}
	}
	.available-participants {
		.participant {
			font-size					: 14px;
			color						: #693a5f;
			background					: #eeeeee;
			-webkit-box-shadow			: 1px 1px 0px 0px #d7d7d7;
			   -moz-box-shadow			: 1px 1px 0px 0px #d7d7d7;
					box-shadow			: 1px 1px 0px 0px #d7d7d7; 
			
			.le {
				font-size				: 11px;
				color					: #878787;
			}
		}
	}
	//---------------------------------------------------------- Drag and drop
	.dive-groups {
		.scrollable-item {
			.dive-group.droppable-highlight {
				.participants {
					background			: #eaf9e7;
					-webkit-box-shadow	: inset 0px 0px 30px 0px #c9ff8c;
					   -moz-box-shadow	: inset 0px 0px 30px 0px #c9ff8c;
							box-shadow	: inset 0px 0px 30px 0px #c9ff8c; 
					
					.participant {
						border-bottom	: 1px transparent solid;
					}
					.btn-group {
						opacity			: 0.3;
					}
				}
				
			}
			.dive-group.droppable-over {
				.participants {
					background			: #c9ff8c;
					-webkit-box-shadow	: inset 0px 0px 30px 0px rgba(0, 0, 0, 0.27);
					   -moz-box-shadow	: inset 0px 0px 30px 0px rgba(0, 0, 0, 0.27);
							box-shadow	: inset 0px 0px 30px 0px rgba(0, 0, 0, 0.27);
							
					.participant {
						border-bottom	: 1px transparent solid;
					}
				}
				.details {
					//display				: none;
				}
			}
		}
	}
	.available-participants {
		.draggable:hover {
			background					: #3f0031;
			color						: #fff;
		}
	}
	.participant.ui-draggable-dragging {
		font-size						: 14px;
		background						: #3f0031;
		color							: #fff;
		-webkit-box-shadow				: 0px 0px 20px 4px #ffffff;
		   -moz-box-shadow				: 0px 0px 20px 4px #ffffff;
			    box-shadow				: 0px 0px 20px 4px #ffffff; 
				
		.le {
			font-size					: 11px;
			color						: #878787;
		}
	}
	.available-participants.droppable-highlight {
		background			: #eaf9e7;
		-webkit-box-shadow	: inset 0px 0px 30px 0px #c9ff8c;
		   -moz-box-shadow	: inset 0px 0px 30px 0px #c9ff8c;
				box-shadow	: inset 0px 0px 30px 0px #c9ff8c; 
	}
	.available-participants.droppable-over {
		background			: #c9ff8c;
		-webkit-box-shadow	: inset 0px 0px 30px 0px rgba(0, 0, 0, 0.27);
		   -moz-box-shadow	: inset 0px 0px 30px 0px rgba(0, 0, 0, 0.27);
				box-shadow	: inset 0px 0px 30px 0px rgba(0, 0, 0, 0.27);
	}
}


.events-by-day li.day .groups-count {
	clear:both;
	display:block;
	font-size:10px;
	text-align:right;
	color: #666666;
	padding-top:2px;
}



/* Landscape phones and down */
@media (max-width: 480px) {
	.events-by-day li.day,
	.dive-groups li.dive-group  {
		width: 100%;
		margin-right: 0;
		height: auto;
	}
}
 
/* Landscape phone to portrait tablet */
@media (min-width: 480px) and (max-width: 767px) { 
	.events-by-day li.day  {
		width: 45%;
	}
}
 
/* Portrait tablet to landscape and desktop */
@media (min-width: 768px) and (max-width: 979px) {
	.events-by-day li.day {
		width: 30%;
	}
}
 
/* Large desktop */
@media (min-width: 979px) and (max-width: 1200px){
	.events-by-day li.day  {
		width: 22%;
	}
}
