<div class="panel right" id="content">
	<div class="navbar navbar-fixed-top sub-navbar right">
		<div class="navbar-inner">
			<div class="container-fluid">
				<div class="btn-group pull-left">
					<a class="btn" href="#!club-admin"><i class="icon-chevron-left"></i>Retour</a>
				</div>
				<div class="btn-group pull-right">
					<a class="btn" href="#!club-admin/dive-roles/new"><i class="icon-plus"></i></a>
				</div>
				<span class="navbar-text">Rôles</span>
			</div>
		</div>
	</div>

	<div class="scrollable panel">
		<div class="content insideScrollablePanel">
			<ul class="nav nav-pills nav-stacked">
				{{#each view.diveRoles}}
					{{view JustDive.Views.DiveRoles.ListShow diveRoleBinding="this"}}
				{{/each}}
			</ul>
		</div>
	</div>
</div>