<div class="btn-group pull-right">
	<a class="btn" href="#" {{action "diveRolesNew" target="JustDive.Controllers.ClubAdmin"}}><i class="icon-plus"></i></a>
</div>
<ul class="nav nav-pills nav-stacked">
	{{#each diveRoles}}
		{{view JustDive.Views.DiveRoles.ListShow diveRoleBinding="this"}}
	{{/each}}
</ul>

