<h1>Pleas login!</h1>
<form accept-charset="UTF-8" action="/identities" class="new_identity" id="new_identity" method="post">
	<div style="margin:0;padding:0;display:inline">
		<input name="utf8" type="hidden" value="&#x2713;" />
	</div> 

	<div class="field"> 
		<label for="identity_email">Email</label><br /> 
		<input id="identity_email" name="identity[email]" size="30" type="email" /> 
	</div> 
	<div class="field"> 
		<label for="identity_password">Password</label><br /> 
		<input id="identity_password" name="identity[password]" size="30" type="password" /> 
	</div> 
	<div class="actions"> 
		<input name="commit" type="submit" value="Create Identity" /> 
	</div>
</form>

<p>You are not logged in and your device/browser seems to be offline... We cannot do much!</p>
