<h1>Please login!</h1>
{{#with JustDive.identity}}
  {{view Ember.TextField valueBinding="email" placeholder="Email" size="30" type="email"}}
  {{view Ember.TextField valueBinding="password"  placeholder="Password" size="30" type="password"}}
  <div class="actions"> 
	<button type="submit">Login</button>
</div>
{{/with}}