<div class="hero-unit">
<h1>Welcome!!</h1>

<ul class="nav">
	<li><span class="navbar-text">Authenticity Token: {{JustDive.identity.authenticity_token}}</span></li>
	<li><span class="navbar-text">Administrator Id: {{JustDive.identity.administrator_id}}</span></li>
	<li><span class="navbar-text">LocalStorage Infos: {{JustDive.getStorageInfos}}</span></li>
</ul>
</div>